
body
{
	background-color:#e2e1e0;
}

h3
{
	font-size: 20px;
	font-family: 'Arial body';
	text-align: center;
	font-weight: 2px;
	color: Black;
}

textarea 
{
	width:400px;
}

button
{
	width: 180px;
	height: 40px;
	border:none;
	padding:10px;
	border-radius:2px;
	cursor:pointer;
	opacity: 1.0;
	color: black;
}
button:hover
{
	opacity:0.8;
}

#fake
{
	background-color:#d62424;
	margin-left: 18px;
}

#true
{
	background-color:#16892d;
	margin-left: 2px;
	
}
